
@{
    ViewBag.Title = "Index";
}

<h2>About Us</h2>

<p>We are a small company that is working from a bedroom. We are happy that you're here at our website and are the least bit interested in us.</p>

